@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Killer</title>
</head>
<body>
    <div>
        Hi, you've just made a killer page with no layout associated with it. 
    </div>
</body>
</html>
